#imageContainerAboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Styles pour les éléments du carrousel */
.carousel-item {
    width: 80%;
    aspect-ratio: 2/1;
}

/* Styles pour le bouton gauche du carrousel */
#carousel-bouton-gauche {
    display: none;
    position: relative;
    left: 2.9%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 10%;
    aspect-ratio: 1/1;
}

/* Styles pour le bouton droit du carrousel */
#carousel-bouton-droite {
    position: relative;
    left: 5%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 10%;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 800px) {
    .imageContainerAboutUs{
		padding-left: 0;
	}
}

@media (max-width:1200px) {		
	#carousel-bouton-gauche {
		transform: translate(-50%, 0%);
	}

	#carousel-bouton-droite {
		transform: translate(-50%, 0%);		
	}
}

@media (max-width: 800px) {
	.carousel-item {		
		aspect-ratio: 1.4/1;
	}
}